@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

form.podloga.top-buffer {
    margin-top: 5px;
}

form.podloga {
    background-color: white;
    margin: 20px 0 30px 0;
    padding: 20px;
    box-shadow: 2px 2px 5px #888888
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width: 100%;
    height: 100%;
}

textarea {
    font-family: "Buxton Sketch", 'Gloria Hallelujah', sans-serif;
    font-size: 23px;
    color: green;
    width: 325px;
    height: 40px;
    resize: none;
}

div.ex1 {
    width: 900px;
    margin: auto;
    background-color: white;
    border: 1px solid #000000;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
